@model Assessment.Domains.PaketSoals.PaketSoal

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div class="container">
    <main role="main" class="pb-3">

        <h2>Manage PaketSoal</h2>

        <div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item"><a class="nav-link " asp-action="create">Create New</a></li>
                        <li class="nav-item"><a class="nav-link " asp-action="Index">List</a></li>
                        <li class="nav-item"><a class="nav-link " asp-action="Edit" asp-route-id="@Model.Id" >Edit @Model.Name </a></li>
                        <li class="nav-item"><a class="nav-link " asp-action="Details" asp-route-id="@Model.Id" >Detail of @Model.Name </a></li>
                        <li class="nav-item"><a class="nav-link active bg-danger" href="#">Delete @Model.Name </a></li>
                    </ul>

                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <dl class="row">
                                <dt class = "col-sm-12">
                                    @Html.DisplayNameFor(model => model.Tipe)
                                </dt>
                                <dd class = "col-sm-12">
                                    @Html.DisplayFor(model => model.Tipe)
                                </dd>
                                <dt class = "col-sm-12">
                                    @Html.DisplayNameFor(model => model.MataPelajaran)
                                </dt>
                                <dd class = "col-sm-12">
                                    @Html.DisplayFor(model => model.MataPelajaran)
                                </dd>
                                <dt class = "col-sm-12">
                                    @Html.DisplayNameFor(model => model.Domain)
                                </dt>
                                <dd class = "col-sm-12">
                                    @Html.DisplayFor(model => model.Domain)
                                </dd>
                                <dt class = "col-sm-12">
                                    @Html.DisplayNameFor(model => model.Kelas)
                                </dt>
                                <dd class = "col-sm-12">
                                    @Html.DisplayFor(model => model.Kelas)
                                </dd>
                                <dt class = "col-sm-12">
                                    @Html.DisplayNameFor(model => model.TingkatKesulitan)
                                </dt>
                                <dd class = "col-sm-12">
                                    @Html.DisplayFor(model => model.TingkatKesulitan)
                                </dd>
                                <dt class = "col-sm-12">
                                    @Html.DisplayNameFor(model => model.Keterangan)
                                </dt>
                                <dd class = "col-sm-12">
                                    @Html.DisplayFor(model => model.Keterangan)
                                </dd>
                                <dt class = "col-sm-12">
                                    @Html.DisplayNameFor(model => model.Created)
                                </dt>
                                <dd class = "col-sm-12">
                                    @Html.DisplayFor(model => model.Created)
                                </dd>
                                <dt class = "col-sm-12">
                                    @Html.DisplayNameFor(model => model.CreatorId)
                                </dt>
                                <dd class = "col-sm-12">
                                    @Html.DisplayFor(model => model.CreatorId)
                                </dd>
                                <dt class = "col-sm-12">
                                    @Html.DisplayNameFor(model => model.Updated)
                                </dt>
                                <dd class = "col-sm-12">
                                    @Html.DisplayFor(model => model.Updated)
                                </dd>
                                <dt class = "col-sm-12">
                                    @Html.DisplayNameFor(model => model.UpdatorId)
                                </dt>
                                <dd class = "col-sm-12">
                                    @Html.DisplayFor(model => model.UpdatorId)
                                </dd>
                            </dl>
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="Id" />
                                <input type="submit" value="Delete" class="btn btn-danger" /> 
                            </form>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </main>
</div>
